//颜色
$c-theme: #48c5ff; //主题色
$c-bg: #FEFEFC; //背景色

$c-white: #fff; // 白色
$c-black: #333; // 黑色
$c-red: #f07979; //红色
$c-green: #20d56e; //绿色
$c-gray: #b1b1b1; //灰色
$c-brown: #AC5E07; //棕色

//字号
$lg: 34px;
$md: 24px;
$xs: 20px;




